langchain-ollama
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.12
langchain-databricks==0.1.1
langchain-huggingface==0.1.0
langchain-ollama==0.2.0
langchain-openai==0.2.0
langchain-text-splitters==0.3.0
transformers
stanza
numpy
sentence-transformers
streamlit
faiss-cpu
python-dotenv
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp<3.10
aiosignal==1.3.1
multidict==6.1.0
langsmith==0.1.133
beautifulsoup4
langchain
PyMuPDF
camelot-py[cv]
pytesseract
PyPDF2<3.0
